@import "lib/styles/base/_config.scss";

.content {
  position: relative;
  width: 100%;
  flex: 1;
  padding-top: rem(38);
  padding-bottom: rem(38);

  @include above(phone) {
    padding-top: rem(44);
    padding-bottom: rem(44);
  }
}
