@import 'lib/styles/base/_config.scss';

%absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inspiration-card {
  $block: &;
  $padding: rem(20);

  position: relative;
  display: block;
  width: 100%;
  font-weight: $font-weight_semibold;

  &:hover {
    #{$block}__caption {
      display: none;
    }

    #{$block}__overview {
      display: flex;
    }
  }

  &::after {
    @extend %absolute;
    z-index: 1;
    display: block;
    content: '';
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__preview {
    position: relative;
    z-index: 0;
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

  &__caption {
    @extend %absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: $padding;

    &-middle,
    &-bottom {
      margin-bottom: 0;
      padding-top: rem(10);
      padding-bottom: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__pics-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: rem(90);
  }

  &__overview {
    @extend %absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: $padding;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-left: rem(-10);

      @include above(phone) {
        margin-left: rem(-20);
      }
    }
  }

  &__title {
    font-family: $font_Eina03-SemiBold;
    font-size: rem(18);
    line-height: 1.5;
    text-transform: capitalize;
  }

  &__buttons-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(160);
  }
}
