@import 'lib/styles/base/_config.scss';

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

.button {
  $block: &;

  display: inline-block;
  font-family: $defaults_font;
  font-weight: $font-weight_medium;
  font-size: rem(13);
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color $defaults_transition-props,
    opacity $defaults_transition-props,
    background-color $defaults_transition-props,
    border-color $defaults_transition-props,
    box-shadow $defaults_transition-props;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &:disabled {
    opacity: 0.65;
  }

  &[type='button']:not(:disabled),
  &[type='reset']:not(:disabled),
  &[type='submit']:not(:disabled),
  &:not(:disabled) {
    cursor: pointer;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(5);
  }

  // Primary
  &--primary {
    color: #fff;
    background-color: $color_primary;
    border-color: $color_primary;

    &:hover {
      color: #fff;
      background-color: #eb3636;
      border-color: #eb3636;
    }

    &:focus {
      color: #fff;
      background-color: #eb3636;
      box-shadow: 0 0 0 rem(1) #3a3a3a;
    }

    &:not(:disabled):not(#{$block}--disabled):active,
    &:not(:disabled):not(#{$block}--disabled)#{$block}--active {
      color: #fff;
      background-color: #f53838;
      border-color: #f53838;
    }

    &:disabled {
      color: #fff;
      background-color: #f53838;
      border-color: #f53838;
    }
  }

  // Transparent
  &--transparent {
    color: $color_text;
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:not(:disabled):not(#{$block}--disabled):active,
    &:not(:disabled):not(#{$block}--disabled)#{$block}--active {
      color: $color_text;
      background-color: transparent;
      border-color: transparent;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  // Normal
  &--normal {
    padding: rem(20) rem(40);
    border-radius: rem(30);
  }

  // Small
  &--small {
    padding-left: rem(10);
    padding-right: rem(10);
    border-radius: rem(25);

    @include above(phone) {
      padding: rem(14) rem(27);
    }

    &:not(#{$block}--transparent) {
      padding: rem(8) rem(20);
    }
  }
}
