@import 'lib/styles/base/_config.scss';

.spinner {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;

  &__container {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
